<div class="event-container" ng-controller="EventCtrl">
    <div class="jumbotron">
        <h1>Welcome to Radar for life</h1>
        </br>
        <h5>Choose a event below to proceed</h5>
        <div class="button_section">
          <md-button ng-click="signOut()" class="signout-btn">Sign out</md-button>
        </div>
    </div>
    <md-content class="md-padding" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column" class="card" ng-repeat="event in eventList">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"><strong>{{ event.name }}</strong></span>
              <span class="md-subhead">
                  <p>{{ event.description }}</p>
              </span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"><img ng-src="{{ event.thumbnail }}"/></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="" ng-show="isAdmin" class="md-btn">Data</md-button>
              <md-button ng-click="enterMap(event.id)" class="md-btn">Enter</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-content>
</div>