<div class="event-container" ng-controller="EventCtrl">
    <div class="jumbotron">
        <h1>Welcome to Radar for life</h1>
        </br>
        <h5>Choose a event below to proceed</h5>
        <div class="button_section">
          <md-button ng-click="signOut()" class="md-raised md-primary">Sign out</md-button>
        </div>
    </div>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><strong>Earthquake</strong></span>
                <span class="md-subhead">
                    <p ng-show="showEarthquakeTxt">
                        LLorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in dolor vehicula, eleifend nisl consequat, cursus risus. Donec fermentum velit bibendum mauris maximus hendrerit. Etiam viverra mi non sapien vulputate ornare. Maecenas turpis tortor, sagittis at velit in, sollicitudin blandit odio.
                    </p>
                </span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media" id="earthquake_img"></div>   
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="earthquakeToggle()" class="md-raised">Info</md-button>
                <md-button ng-click="enterMap(100)" class="md-raised">Enter</md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><strong>Flood</strong></span>
                <span class="md-subhead">
                    <p ng-show="showFloodTxt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in dolor vehicula, eleifend nisl consequat, cursus risus. Donec fermentum velit bibendum mauris maximus hendrerit. Etiam viverra mi non sapien vulputate ornare. Maecenas turpis tortor, sagittis at velit in, sollicitudin blandit odio.
                    </p>
                </span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media" id="flood_img"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="floodToggle()" class="md-raised">Info</md-button>
                <md-button ng-click="enterMap('flood')" class="md-raised">Enter</md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><strong>Hurricane</strong></span>
                <span class="md-subhead">
                    <p ng-show="showHurricaneTxt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in dolor vehicula, eleifend nisl consequat, cursus risus. Donec fermentum velit bibendum mauris maximus hendrerit. Etiam viverra mi non sapien vulputate ornare. Maecenas turpis tortor, sagittis at velit in, sollicitudin blandit odio.
                    </p>
                </span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media" id="hurricane_img"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="hurricaneToggle()" class="md-raised">Info</md-button>
                <md-button ng-click="enterMap('hurricane')" class="md-raised">Enter</md-button>
            </md-card-actions>
          </md-card>
        </div>
    </md-content>
</div>