<div ng-controller="LoginCtrl" ng-cloak>
    <md-content class="navbar">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon=""></md-icon>
                </md-button>
                <h2>
                    <span class="logo-title">Rapid Natural Disaster Response</span>
                </h2>
                <!-- <span flex></span> -->
                <!-- <md-button href="/#/signup" class="login-btn">Sign up</md-button> -->
            </div>
        </md-toolbar>
    </md-content>
    <md-card class="login-container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3 text-center">
                <div class="form-login">
                    <h4>Welcome To Radar for Life</h4>
                    <h5>Please login to continue</h5>
                    <div class="input-section">
                        <input type="text" ng-model="userName" id="userName" class="form-control input-sm chat-input" placeholder="User ID or Email" />
                        <input type="password" ng-model="userPassword" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </div>
                    <div class="wrapper">
                        <span class="group-btn">
                            <md-button role="button" ng-disabled="fieldIncompleted()" ng-click="fieldIncompleted() || auth()" class="btn btn-warning btn-md">
                                login <i class="fa fa-sign-in"></i>
                            </md-button>
                            <md-button href="/#/signup" role="button" class="btn btn-warning btn-md">
                                Sign up
                            </md-button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</div>
