<div class="register-container" ng-controller="RegisterCtrl">
    <div class="row">
        <div class="col-md-offset-5 col-md-3 text-center">
            <div class="form-login">
                <h4>Become a new user in Rader for Life</h4>
                <input type="text" ng-model="signName" class="form-control input-sm chat-input" placeholder="username" />
                </br>
                <input type="password" ng-model="signPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <input type="password" ng-model="reSignPassword" class="form-control input-sm chat-input" placeholder="re-type password"/>
                <div class="wrapper">
                    <span class="group-btn">
                        <button ng-click="signUp()" ng-disabled="signName == '' || signPassword == '' || reSignPassword == ''" class="btn btn-primary btn-md">
                            Register <i class="fa fa-sign-in"></i>
                        </button>
                    </span>
                    <span>
                        <a href="/#/" role="button" class="btn btn-primary btn-md">
                            Already a user ?
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>