<div ng-controller="RegisterCtrl" ng-cloak>
    <md-content class="navbar">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon=""></md-icon>
                </md-button>
                <h2>
                    <span class="logo-title">Rapid Natural Disaster Response</span>
                </h2>
                <span flex></span>
                <md-button href="/#/" class="login-btn">Login</md-button>
            </div>
        </md-toolbar>
    </md-content>
    <div class="register-container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3 text-center">
                <div class="form-login">
                    <h4>Become a new user in Rader for Life</h4>
                    <h5>Please fill out all input fields</h5>
                    <input type="text" ng-model="userId" class="form-control input-sm chat-input" placeholder="User ID" />
                    </br>
                    <input type="text" ng-model="firstName" class="form-control input-sm chat-input" placeholder="First Name" />
                    </br>
                    <input type="text" ng-model="lastName" class="form-control input-sm chat-input" placeholder="Last Name" />
                    </br>
                    <input type="email" ng-model="userEmail" class="form-control input-sm chat-input" placeholder="Email"/>
                    </br>
                    <input type="password" ng-model="signPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <input type="password" ng-model="reSignPassword" class="form-control input-sm chat-input" placeholder="re-type password"/>
                    <div class="wrapper">
                        <span class="group-btn">
                            <md-button role="button" ng-disabled="fieldIncompleted()" ng-click="fieldIncompleted() || signUp()"  class="btn btn-warning btn-md">
                                Register <i class="fa fa-sign-in"></i>
                            </md-button>
                            <md-button href="/#/" role="button" class="btn btn-warning btn-md">
                                Already a user ?
                            </md-button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
