<button ng-click="btnAction('damage')" ng-disabled="rest" ng-mousedown="imgSrc('damage', '_click')" ng-mouseup="imgSrc('damage', '')" ng-mouseover="imgSrc('damage', '_hover')" ng-mouseout="imgSrc('damage', '')">
	<img ng-src="{{ damageImg }}"/>
</button>
<button ng-click="btnAction('fine')" ng-disabled="rest" ng-mousedown="imgSrc('fine', '_click')" ng-mouseup="imgSrc('fine', '')" ng-mouseover="imgSrc('fine', '_hover')" ng-mouseout="imgSrc('fine', '')">
	<img ng-src="{{ fineImg }}"/>
</button>
<button ng-click="btnAction('unknown')" ng-disabled="rest" ng-mousedown="imgSrc('unknown', '_click')" ng-mouseup="imgSrc('unknown', '')" ng-mouseover="imgSrc('unknown', '_hover')" ng-mouseout="imgSrc('unknown', '')">
	<img ng-src="{{ unknownImg }}"/>
</button>
<button ng-click="nextArea()" ng-mousedown="imgSrc('next', '_click')" ng-mouseup="imgSrc('next', '')" ng-mouseover="imgSrc('next', '_hover')" ng-mouseout="imgSrc('next', '')">
	<img ng-src="{{ nextImg }}"/>
</button>