<ul>
	<li>
		<button ng-click="changeColor('damage')" ng-mousedown="clicked('damage')" ng-mouseup="unclicked('damage')" ng-mouseover="hovered('damage')" ng-mouseout="unhovered('damage')">
			<img ng-src="{{ damageImg }}"/>
		</button>
	</li>
	<li>
		<button ng-mousedown="clicked('fine')" ng-mouseup="unclicked('fine')" ng-mouseover="hovered('fine')" ng-mouseout="unhovered('fine')">
			<img ng-src="{{ fineImg }}"/>
		</button>
	</li>
	<li>
		<button ng-mousedown="clicked('unknown')" ng-mouseup="unclicked('unknown')" ng-mouseover="hovered('unknown')" ng-mouseout="unhovered('unknown')">
			<img ng-src="{{ unknownImg }}"/>
		</button>
	</li>
	<li>
		<button ng-mousedown="clicked('next')" ng-mouseup="unclicked('next')" ng-mouseover="hovered('next')" ng-mouseout="unhovered('next')">
			<img ng-src="{{ nextImg }}"/>
		</button>
	</li>
</ul>