<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Create new event</h3>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form>
        <p>Enter the following event information to create a event.</p>
        <div layout="column">
          <md-input-container class="event-upload-input" flex>
            <label>Event Name</label>
            <input type="text" ng-model="eventName"/>
          </md-input-container>
          <md-input-container class="event-upload-input" flex>
            <label>Event Description</label>
            <textarea ng-model="eventDescription" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <div ng-show="fieldIncompleted" class="error-message">
              *The required fields have not been completed.
          </div>
          <h5>Upload event image: </h5>
          <div ngf-drop ngf-select ng-model="image" class="drop-box" ngf-multiple="false" ngf-drag-over-class="'dragover'" ngf-allow-dir="true">
            Drag/Click to upload image here
          </div>
          <h5>Upload Geojson file: </h5>
          <div ngf-drop ngf-select ng-model="file" class="drop-box" ngf-multiple="false" ngf-drag-over-class="'dragover'" ngf-allow-dir="true">
            Drag/Click to upload Geojson file here
          </div>
          <div ngf-no-file-drop>File Drag/Drop is not supported for this brower</div>
        </div>
      </form>
      <span ng-hide="image === undefined"><strong>Image : {{ image.name }}</strong></span></br>
      <span ng-hide="file === undefined"><strong>File : {{ file.name }}</strong></span>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="upload(eventName, eventDescription,file, image)" ng-disabled="file === undefined">Submit</md-button>
    <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>