.navbar {
	height: auto;	
}

table {
	margin-top: 0;
	background-color: white;
	border-collapse: collapse;
	.table-header {
		font-weight: bold;
	}
	.damage-bg {
		background-color: "red";
	}
	.fine-bg {
		background-color: "blue";
	}
	.unsure-bg {
		background-color: "purple";
	}
}