$dark-primary: #1976D2;
$neutral-primary: #2196F3;
$light-primary: #BBDEFB;
$icon-text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #727272;
$hover-background-placeholder: rgb(255, 0, 222);
$hover-text-placeholder: rgb(0, 0, 0);
