@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #121211;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif; }

.login-container {
  padding-top: 1%;
  padding-left: auto;
  padding-right: auto;
  margin-left: 10%;
  width: 80%; }

.form-login {
  background-color: #ffffff;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*border-radius: 15px;*/
  border-color: #d2d2d2;
  border-width: 5px;
  margin-left: 18%;
  width: 60%; }

h4 {
  border: 0 solid #fff;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center; }

.form-control {
  /*border-radius: 10px; */
}

.wrapper {
  text-align: center; }

.alert {
  margin-left: 18%;
  width: 60%; }

.admin-btn {
  background-color: #444;
  color: gray;
  /*border-radius: 20px 20px 20px;*/
  font-size: 14px; }

.admin-btn:not([disabled]):hover {
  background-color: white;
  color: black;
  font-weight: bold; }

.login-btn {
  background-color: green;
  color: white;
  /*border-radius: 20px 20px 20px; */
}

.login-btn:not([disabled]):hover {
  background-color: #CCFF00;
  color: black;
  font-weight: bold; }

.navbar {
  margin-bottom: 8%;
  background-color: #121211; }
  .navbar md-toolbar {
    background-color: #2B2B2B;
    /*border-radius: 5px 5px 5px 5px; */
  }
  .navbar .logo-title {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    text-shadow: 1px 1px #444; }

@media screen and (max-width: 768px) {
  .group-btn a {
    margin-bottom: 4%; }

  input {
    width: 90%; }

  .navbar {
    margin-bottom: 15%; }
    .navbar .logo-title {
      font-size: 16px; }
    .navbar .admin-btn {
      font-size: 12px;
      /*border-radius: 20px 0 0 20px; */
    }
    .navbar .login-btn {
      /*border-radius: 20px 0 0 20px; */
      } }
#map {
  margin-top: 0.5%;
  margin-left: 2.5%;
  width: 90%;
  height: 90%;
  position: absolute; }

#map .leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.5); }
#map .angular-leaflet-control-layers {
  visibility: hidden; }

.map-button {
  margin-left: 80%; }

@media screen and (max-width: 768px) {
  .map-button {
    margin-left: 0; } }
.badge {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.9); }

button {
  margin: 1%;
  padding-bottom: 1%;
  /*border-radius: 15%;*/
  background: white;
  display: inline; }

.jumbotron {
  border: 1px solid black;
  background-color: #2B2B2B;
  padding-top: 1%;
  margin-bottom: 1%;
  color: #fff;
  text-align: center; }
  .jumbotron #menu-signout {
    margin-left: 85%;
    margin-bottom: 1%; }
  .jumbotron #create-btn {
    margin-right: 85%; }

md-card, .md-subhead > p {
  background-color: #2B2B2B;
  color: white; }

.card, .md-padding {
  background-color: #121211; }

.event-img {
  weight: 100%;
  height: auto; }

.md-btn {
  background-color: green;
  color: white;
  /*border-radius: 5% 5% 5%; */
}

.md-btn:not([disabled]):hover {
  background-color: #CCFF00;
  color: black;
  font-weight: bold; }

.next-page-btn, .prev-page-btn {
  background-color: #C4C4C4;
  color: black; }

.next-page-btn {
  /*border-radius: 0 20px 20px 0; */
}

.prev-page-btn {
  /*border-radius: 20px 0 0 20px; */
}

.next-page-btn:not([disabled]):hover, .prev-page-btn:not([disabled]):hover {
  background-color: #fff;
  color: black;
  font-weight: bold; }

.next-page-btn[disabled], .prev-page-btn[disabled] {
  background-color: #333;
  color: #111; }

.del-btn {
  background-color: darkred;
  color: white;
  /*border-radius: 5% 5% 5%; */
}

.del-btn:not([disabled]):hover {
  background-color: #780009;
  font-weight: bold; }

.signout-btn {
  background-color: #CC6600;
  color: white;
  /*border-radius: 5% 5% 5%; */
}

.signout-btn:not([disabled]):hover {
  background-color: #660000;
  color: white;
  font-weight: bold; }

/* ng-animation fade in */
.info-fade.ng-enter {
  transition: 0.8s ease all;
  opacity: 0;
  transform: translateX(-100%); }

.info-fade.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateX(0); }

/* ng-animation fade out */
.info-fade.ng-leave {
  transition: 0.2s ease all;
  opacity: 1;
  transform: translateX(0); }

.info-fade.ng-leave.ng-leave-active {
  transform: translateX(-100%);
  opacity: 0; }

@media screen and (max-width: 768px) {
  .jumbotron #menu-signout {
    margin-left: 0;
    margin-bottom: 2%; }
  .jumbotron #create-btn {
    margin-right: 0;
    margin-bottom: 2%; }

  .md-headline {
    font-size: 14px; } }
.register-container {
  padding-left: auto;
  padding-right: auto;
  margin-left: 10%;
  width: 80%; }

.drop-box {
  border: 3px dashed #111;
  background-color: #e0e0d2;
  color: #111;
  padding: 5%; }

.dragover {
  border: 5px dashed blue; }

.event-upload-input {
  margin-bottom: 0; }

.error-message {
  color: red;
  font-weight: bold; }

.navbar {
  height: auto; }

table {
  margin-top: 0;
  background-color: white;
  border-collapse: collapse; }
  table .table-header {
    font-weight: bold; }
  table .damage-bg {
    background-color: "red"; }
  table .fine-bg {
    background-color: "blue"; }
  table .unsure-bg {
    background-color: "purple"; }

/*# sourceMappingURL=style.css.map */
